* {
  border-radius: 0px;
  font-family: "Symbols Nerd Font Mono", "Roboto Nerd Font Mono";
  font-weight: 500;
  font-size: 14px;
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: @base08;
}

#workspaces button.active {
  color: @base02;
}

#workspaces button.focused {
  color: @base06;
}

#workspaces button.urgent {
  color: @base04;
}

#workspaces button:hover {
  color: @base05;
}

#backlight,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cpu,
#memory,
#custom-logo,
#custom-player,
#custom-github,
#modbackground {
  background: alpha(@base00, 0.8);
  color: @base08;
  opacity: 1;
  padding: 0px 7px;
  margin: 4px;
  border-radius: 7px;
}

#custom-logo {
  border-radius: 7px 0px 0px 7px;
  margin: 4px 0px 4px 8px;
}

#workspaces {
  border-radius: 0px 7px 7px 0px;
  padding: 0px;
  margin: 4px 4px 4px 0px;
}

#clock {
  margin: 4px 8px 4px 4px;
}

#pulseaudio {
  border-radius: 7px 0px 0px 7px;
  margin: 4px 0px 4px 4px;
}

#pulseaudio.microphone {
  border-radius: 0px 7px 7px 0px;
  margin: 4px 4px 4px 0px;
}

#cpu {
  border-radius: 7px 0px 0px 7px;
  margin: 4px 0px 4px 4px;
}

#memory {
  border-radius: 0px 7px 7px 0px;
  margin: 4px 4px 4px 0px;
}

