/*
*
* Catppuccin Macchiato palette
* Maintainer: rubyowo
*
*/

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

* {
  border-radius: 0px;
  font-family: "Symbols Nerd Font Mono", "Roboto Nerd Font Mono";
  font-weight: 500;
  font-size: 14px;
  min-height: 20px;
}

window#waybar {
  background: transparent;
  opacity: 1;
}

tooltip {
  background: #12121e;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  color: @surface1;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @subtext0;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button:hover {
  color: @subtext0;
}

#backlight,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cpu,
#memory,
#custom-logo,
#custom-player,
#custom-github,
#modbackground {
  color: @text;
  background: @base;
  opacity: 1;
  padding: 0px 7px;
  margin: 4px;
  border-radius: 7px;
  /* border: 1px solid #b5b0a7; */
}

#custom-logo {
  border-radius: 7px 0px 0px 7px;
  margin: 4px 0px 4px 8px;
}

#workspaces {
  border-radius: 0px 7px 7px 0px;
  padding: 0px;
  margin: 4px 4px 4px 0px;
}

#clock {
  margin: 4px 8px 4px 4px;
}

#pulseaudio {
  border-radius: 7px 0px 0px 7px;
  margin: 4px 0px 4px 4px;
}

#pulseaudio.microphone {
  border-radius: 0px 7px 7px 0px;
  margin: 4px 4px 4px 0px;
}

#cpu {
  border-radius: 7px 0px 0px 7px;
  margin: 4px 0px 4px 4px;
}

#memory {
  border-radius: 0px 7px 7px 0px;
  margin: 4px 4px 4px 0px;
}

